body {
  font-family: calibri;
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px dotted purple;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  padding: 20px 0;
  color: hotpink;
  font-size: 60px;
  text-shadow: 3px 3px 1px blue;
  margin: 0;
  
}

h2 {
  color: hotpink;
    width: 500px;
	border: 2px dotted purple;	
}

p {
  color: pink;
}

ul {
   color: pink;
}

a:link, a:visited {
  color: purple ;
}

a:hover {
    color: blue;
}

html {
  background-color: pink;
}


